@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}

.modal{
   background-color: #0A3981;
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
}

.border1{
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   color: white;
}
.border2{
   border-bottom: 1px solid white;
   color: white;
}

.border3{
   border: 1px solid #0A3981;
}

.border4{
   border-top: 1px solid rgba(0, 0, 0, 0.7);
}

p, h1, h2, h3, h4, h5, h6{
   padding: 0;
   margin: 0;
}

.transparent{
   background-color: transparent;
   border: transparent;
}

.color{
   color: white;
}

.input{
   border-radius: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-left: 50px;
   font-size: 20px;
   width: 100%;
   height: 100%;
   line-height: 2px;
   border: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.inputicon{
   width: 30px;
   height: 30px;
   position: absolute;
   top: 50%;
   left: 10px; 
   transform: translateY(-50%); 

}

.round{
   border-radius: 5px;
   border: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.link{
   color: #2432f0;
}

.home {
   background-image: url('../public/images/bg1.jpg'); /* Replace with your image URL */
   background-size: cover; /* Ensure the image covers the entire page */
   background-position: center; /* Center the background image */
   background-repeat: no-repeat; /* Prevent tiling */
   height: 100vh; /* Make sure it covers the full viewport height */
   width: 100%;
   margin: 0;
   font-family: Arial, sans-serif;
   z-index: 10;
}

.home-button:hover{
   background-color: #2432f0;
   color: white;
}

.hr{
   border-bottom: 5px solid white;
}

.bg1{
   background: rgb(36,84,157);
   background: linear-gradient(180deg, rgba(36,84,157,1) 0%, rgba(209,219,234,1) 80%, rgba(252,253,254,1) 100%);
   width: 100%;
   min-height: 100vh;
}

.bg2{
   background-color: #4CAF50;
}

.bg3{
   background: rgb(36,84,157);
   background: linear-gradient(180deg, rgba(36,84,157,1) 0%, rgba(209,219,234,1) 80%, rgba(252,253,254,1) 100%);
}

.bg4{
   background: linear-gradient(to bottom, #003366, #336699);
}

.bg5{
   background: rgb(36,84,157);
   background: linear-gradient(180deg, rgba(36,84,157,1) 0%, rgba(209,219,234,1) 80%, rgba(252,253,254,1) 100%);
}
.roundedProfile{
   border-radius: 50%;
   width: 120px;
   height: 120px;
}

/* Container to center the spinner and add a background */
.loading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full viewport height */
   background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient background */
   background-size: cover;
   background-position: center;
   overflow: hidden;
   position: relative;
 }
 
 /* Spinner styles */
 .spinner {
   width: 50px;
   height: 50px;
   border: 6px solid #f3f3f3; /* Light gray */
   border-top: 6px solid #fff; /* White for the top border */
   border-radius: 50%;
   animation: spin 1s linear infinite; /* Animation for rotating */
 }

 .button-intro{
   border: 2px solid transparent;
 }

 .button-intro:hover{
   color: #3C619A;
   background-color: white;
   border: 2px solid #3C619A;
 }

 .aerolamp:hover img{
   width: 70%;
   height: 70%;
   transition: 0.3s ease-in-out;
 }

 .aerolamp-but{
   border: 2px solid transparent;
 }

 .aerolamp-but:hover{
   color: white;
   border: 2px solid white;
 }

.confirm-but:hover{
   color: #2432f0;
   background-color: white;
   border: 1px solid #2432f0;
}
 .nav:hover{
   color: #2432f0;
   background-color: white;
 }

 .white{
   background-color: white;
   margin-left: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 10px 10px;
   padding-bottom: 15px;
   position: relative;
 }

 .table-col{
   width: 100%;
   overflow-y: auto;
 }

 .table-col thead tr{
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   height: 16px;
   width: 150px;
   background-color: #2432f0;
 }

 .table-col tbody{
   font-size: 12px;
   font-weight: 400;
   text-align: center;
   height: 16px;
   width: 150px;
   background-color: #2d91e4;
 }

 .pagination{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: absolute;
   bottom: 10px;
   right: 40%;
 }

 .pagination h1{
   font-size: 16px;
   font-weight: 500;
   width: 90px;
   text-align: center;
 }

 .pagination button{
   border: none;
   background-color: none;
   height: 20px;
   width: 20px;
   border-radius: 10px;
   cursor: pointer;
   background-color: #2d91e4;
   margin: 0 5px;
 }

 .table-but{
   position: absolute;
   width: 150px;
   height: 30px;
   color: white;
   font-size: 16px;
   font-weight: 700;
   background-color: #2d91e4;
   border-radius: 5px;
   border: none;
   top: 90px;
   left: 50px;
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: 0.3s ease-in-out;
 }

 .table-but:hover{
   color: #2d91e4;
   background-color: white;
 }

 @keyframes slideInUp {
   0% {
      opacity: 0;
      transform: translateY(50px); 
   }
   100% {
      opacity: 1;
      transform: translateY(0); 
   }
}

.aerolamp-device{
   position: relative;
   opacity: 0; 
   transform: translateY(50px); 
   animation: slideInUp 1s ease-out forwards; 
}
 
 /* Animation to spin the element */
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 

@media (max-width: 640px) { /* Tailwind's `md` breakpoint */
   .logo{
      width: 30px;
      height: 30px;
   }

   .nav-logo{
      width: 30px;
      height: 30px;
      margin-left: 55px;
   }
   .nav-drawer{
      width: 30px;
      height: 17px;
   }
   .nav{
      margin-left: 35px;
   }

   .margin{
      margin-top: 20px;
   }

   .image{
      width: 50px;
      height: 60px;
   }

   .button{
      font-size: 16px;
      width: 150px;
   }
   .home-button{
      font-size: 16px;
      width: 200px;
   }
   
   .text{
      font-size: 12px;
   }
   .text1{
      font-size: 16px;
   }
   .text2{
      font-size: 24px;
   }

   .login{
      width: 200px;
      font-size: 12px;
   }
  
   .input-container{
      margin-top: -50px;
   }
   .input{
      font-size: 12px;
      width: 250px;   
      padding-left: 28px;  
      height: 35px;
      line-height: 1px;
      border-radius: 5px;
   }
   .inputicon{
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: -25px; 
      transform: translateY(-50%); 
   }

   .inputicon1{
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 10px; 
      transform: translateY(-50%); 
   }

   .link{
      margin-top: -35px;
      margin-right: -10px;
   }

   .button-login{
      font-size: 12px;
      margin-top: 20px;
   }

   .file-upload{
      width: 100%;
      margin-left: 15px;
   }

   .signup{
      font-size: 16px;
      margin-bottom: 35px;
   }
   
   .about-page{
      flex-direction: column;
      height: 170vh;
      overflow-y: auto;
      padding-top: 5%;
      padding-bottom: 5%;
   }
   .about-box{
      width: 60%;
      height: 600px;
      margin-top: 50px;
   }
   .about-icon{
      margin-left: 140px;
   }

   .aerolamp-device{
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-content: center;
      overflow-y: auto;
      height: 100%;
      padding-top: 60px;
      padding-bottom: 50px;
   }

   .logout{
      width: 70%;
      height: 50%;
      margin-right: 35px;
   }
   .logout-box{
      font-size: 16px;
      margin-left: 10px;
   }

   .edit-profile-back{
      top: 40px;
      left: 280px;
      color: rgb(179, 57, 57);
      
   }
   .edit-profile-img{
      display: none;
   }
   .edit-profile-box{
      margin-top: 30%;
      margin-bottom: 20px;
   }
   .edit-profile{
      width: 60px;
      height: 60px;
   }
   .edit-profile-text{
      font-size: 16px;
      margin-left: 10px;
   }
   .edit-profile-input{
      width: 55%;
   }

   .profile-box{
      height: 180vh;
      overflow-y: auto;
   }
   .profile-title{
      margin-left: 40px;
   }
   .profile-text{
      margin-top: 30px;
   }
   .profile-info-box {
      display: grid;
      grid-template-columns: repeat(2, 150px); /* 2 columns */
      grid-template-rows: auto auto; /* 2 rows */
      gap: 10px; /* Adjust spacing */
      margin-right: 90px;
   }
   .profile-info{
      font-size: 16px;
      padding-right: 50px;
   }
   .profile-graph{
      flex-direction: column;
   }
   .profile-graph {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-left: 0;
      padding: 10px;
   }
   
   .profile-graph .graph-container {
      width: 100%;
      align-items: center;
      text-align: center;
      
   }
   
   .doughnut-container {
      width: 450px;
      height: 230px;
      margin: 0 auto;
      margin-left: -30px;
   }
   
   .AQI {
      width: 90%;
      padding: 0 10px;
   }
   
   .AQI h3 {
      font-size: 14px;
      margin-top: 50px;
   }
   
   .AQI table {
      font-size: 12px;
      width: 100%;
   }
   
   .AQI th, .AQI td {
      padding: 6px;
      text-align: center;
      font-size: 12px;
   }
   .profile-graph-text{
      font-size: 20px;
      width: 240px;
      margin-left: 60px;
   }

   .aerolamp-data-container{
      padding-top: 20%;
      width: 100%;
      height: 120vh;
      overflow-y: auto;
   }
   .table-but{
      left: 10px;
      top: 130px;
      width: 80px;
      font-size: 12px;
      height: 20px;
   }

   .table1{
      width: 300px;
      margin-top: 40px;
      height: 600px;
      margin-bottom: -90px;
   }

   .table-col thead th{
      font-size: 12px;
   }

   .pagination{
      right: 32%;
   }

   .aerolamp-data-graph-container{
      flex-direction: column;
      margin-top: 20px;
   }
   .aerolamp-data-text-container{
      margin-top: 20px;
      width: 80%;
      margin-left: 35px;
      margin-bottom: 20px;
   }
   .aerolamp-text-below{
      font-size: 11px;
      width: 90%;
   }
   .aerolamp-but{
      width: 60%;
   }
 
   .aerolamp-history-container{
      width: 100%;
      height: 100vh;
   }
   .aerolamp-history-but-con{
      width: 100%;
      flex-direction: column;
      margin-top: 10px;
      height: 17%;

   }
   .aerolamp-history-text{
      font-size: 16px;
      margin-left: 10px;
   }
   .aerolamp-history-graph-con{
      margin-top: 20px;
      width: 100%;
      margin-left: 15px;
      margin-right: 20px;
      height: 350px;
   }
   .aqi-box{
      flex-direction: column;
      height: 250px;
   }
   .value{
      margin-top: 3px;
   }
}